<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="">Angular V19</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="data-binding">Data binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ng-class">Ng Class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="control-flow">Control flow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="signal">Signal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="linked-signal">Linked Signal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="template-form">Template Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="reactive-form">Reactive Form</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="get-api">GET API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="post-api">POST/PUT/DELETE API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="resource-api">Resource API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="service-api">SERVICE API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="life-cycle">LIFECYCLE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ng-for">NGFOR (pipes)</a>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form> -->
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-control-flow-statement></app-control-flow-statement> -->
<!-- <app-signal></app-signal> -->
<!-- <app-linked-signal></app-linked-signal> -->